name: release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: 'The semver to use'
        required: true
        default: 'patch'
  pull_request:
    types: [closed]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Node.js runtime on build
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - uses: nearform/optic-release-automation-action@v2
        with:
          github-token: ${{ secrets.github_token }}
          semver: ${{ github.event.inputs.semver }}
          sync-semver-tags: true
          build-command: |
            npm ci --ignore-scripts
            npm run build
            git add dist
